<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="question-list">Questions</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
		</ul>
		<table class="table table-dark table-hover table-striped">
			<thead class="thead-light">
				<tr>
					<th>Welcome to our super rad application</th>
				</tr>
			</thead>
		</table>
	</div>
</nav>

<router-outlet></router-outlet>
