<p>
	Question from: {{ questionDetailDto?.question.createdBy}}
</p>

<div>
	<div>
		{{questionDetailDto?.question.body}}
	</div>
	<div *ngFor="let answerDto of questionDetailDto?.answerDtos">
		<div>
			{{answerDto.answer.body}}
			<!-- add button to accept answer. Disable if answer an answer has been selected -->
			<!-- add button to upvote -->
			<!-- add button to downvote -->
		</div>
		<div *ngFor="let comment of answerDto.comments">
			{{ comment.body }}
			<!-- add button to upvote -->
			<!-- add button to downvote -->
		</div>
		<!-- Add comment form -->
	</div>

	<!-- Add question form-->
</div>
